<section data-aos="fade-up" class="h-full">
<div class="editorial-card group">
    
    <!-- Top Action Bar -->
    <div class="editorial-card__top">
        <span class="editorial-card__category">{{ category }}</span>
        <button (click)="addToWishlist(productId)" class="editorial-card__wish" [attr.aria-label]="'Add to wishlist'">
            @if (wloading) {
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            }
            @else {
                <i [ngClass]="{'fa-regular': !wish, 'fa-solid': wish}" class="fa-heart"></i>
            }
        </button>
    </div>

    <!-- Product Image Showcase -->
    <div [routerLink]="['/details', productId]" class="editorial-card__showcase">
        <div class="editorial-card__img-glow"></div>
        <img [src]="imgSrc" [alt]="title" loading="lazy" />
    </div>

    <!-- Product Details -->
    <div [routerLink]="['/details', productId]" class="editorial-card__details">
        <h5 class="editorial-card__title" [title]="title">{{ title }}</h5>
        
        <div class="editorial-card__rating">
            <div [ngStyle]="{'background-image': getGradient(rating)}" class="editorial-card__stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <span class="editorial-card__rating-val">{{ rating }}</span>
        </div>
    </div>

    <!-- Footer Actions (Price & Cart) -->
    <div class="editorial-card__footer">
        <span class="editorial-card__price">
            <i class="fa-solid fa-sterling-sign"></i>{{ price }}
        </span>
        
        <button (click)="addToCart(productId)" class="editorial-card__add" [disabled]="isLoading">
            @if (!isLoading) {
                <span>Add to Bag</span>
                <i class="fa-solid fa-plus editorial-card__add-icon"></i>
            }
            @if (isLoading) {
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            }
        </button>
    </div>

</div>
</section>