<footer class="bg-main-light py-10 mt-5">
    <div class="container w-[90%] mx-auto">
      <h2 class="m-0 py-5 text-lg">Get The FreshCart App</h2>
      <p class="text-gray-600 text-sm">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <!-- inputs design  -->
      <div class="flex items-center gap-3 text-nowrap py-5">
        <input type="text" class=" w-11/12 shadow-lg duration-300 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[var(--main-color)]" placeholder="Email" />
        <button class="btn-main">Share App Link</button>
      </div>
  
      <hr />
  
      <!-- footer payment Details Design  -->
      <div class="pay-details flex justify-between items-center py-5">
        <div class="flex items-center gap-2">
          <h3 class="text-md m-0">Payment partners</h3>
          <img src="./assets/images/amazon-pay.png" width="30px" alt="" />
          <img
            src="./assets/images/American-Express-Color.png"
            width="30px"
            alt=""
          />
          <img src="./assets/images/paypal.png" width="30px" alt="" />
          <img src="./assets/images/mastercard.webp" width="30px" alt="" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="text-md m-0">Get Deliveries with FreshCart</h3>
          <img src="./assets/images/get-google-play.png" width="75px" alt="" />
          <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
        </div>
        
      </div>
      <hr />
    </div>
  </footer>
  